{
  "mcpServers": {
    "acme-products": {
      "command": "node",
      "args": ["D:\\dev\\architecture\\project\\acme-mcp\\dist\\index.js"],
      "env": {
        "PRODUCTS_API_URL": "http://localhost:1234",
        "KEYCLOAK_URL": "http://localhost:8080",
        "REALM": "architects",
        "CLIENT_ID": "public",
        "ADMIN_USERNAME": "anerthy",
        "ADMIN_PASSWORD": "anerthy"
      }
    },
    "postman": {
      "command": "npx",
      "args": ["-y", "@postman/postman-mcp-server"],
      "env": {
        "POSTMAN_API_KEY": "YOUR_POSTMAN_API_KEY"
      }
    },
    "keycloak": {
      "command": "npx",
      "args": ["-y", "keycloak-mcp"],
      "env": {
        "KEYCLOAK_URL": "http://localhost:8080",
        "KEYCLOAK_ADMIN": "admin",
        "KEYCLOAK_ADMIN_PASSWORD": "admin"
      }
    }
  }
}
